h1 {
	font-size: 18pt;
	font-family: arial, sans-serif;
}

.axis path, .axis line {
	fill: none;
	stroke: black;
}

.axis text {
	font-family: sans-serif;
	font-size: 10pt;
}

.btn {
	font-family: sans-serif;
	padding: 0.6rem 2rem;
	color: white;
	cursor: pointer;
	display: inline-block;
	border-radius: 8px;
}

#old {
	background-color: red;
}

#new {
	background-color: purple;
}